@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Lora', serif;
  --color-primary-50: #fff5f2;
  --color-primary-100: #ffe8e1;
  --color-primary-200: #ffd1c3;
  --color-primary-300: #ffae96;
  --color-primary-400: #ff7e5d;
  --color-primary-500: #fe552b;
  --color-primary-600: #ef3a11;
  --color-primary-700: #c92c0a;
  --color-primary-800: #a7270d;
  --color-primary-900: #8a240f;
  --color-primary-950: #4b0e04;

  --color-secondary-50: #f2fbf9;
  --color-secondary-100: #def6f0;
  --color-secondary-200: #bdece2;
  --color-secondary-300: #8fdcd0;
  --color-secondary-400: #5bc5b8;
  --color-secondary-500: #3fa89c;
  --color-secondary-600: #2f877f;
  --color-secondary-700: #296d68;
  --color-secondary-800: #245855;
  --color-secondary-900: #214a48;
  --color-secondary-950: #0f2b2b;

  --color-neutral-50: #fcfcfb;
  --color-neutral-100: #f7f7f5;
  --color-neutral-200: #efeeea;
  --color-neutral-300: #dedbd1;
  --color-neutral-400: #b0aa93;
  --color-neutral-500: #8e8568;
  --color-neutral-600: #71684c;
  --color-neutral-700: #58513d;
  --color-neutral-800: #484234;
  --color-neutral-900: #3f3a2f;
  --color-neutral-950: #211e18;
}

:root {
  --ui-primary: var(--color-primary-500);
  --ui-neutral: var(--color-neutral-900);
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-900);
}

.font-serif {
  font-family: var(--font-serif);
}

.bg-cream {
  background-color: var(--color-neutral-100);
}

.text-soft {
  color: var(--color-neutral-600);
}